body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #search-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
  
  #search-input {
    width: 300px; /* Adjust the width value as per your preference */
    max-width: 100%; /* Ensure the input doesn't exceed the container width */
    margin-right: 10px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #search-button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  #map {
    width: 90%;
    height: 1000px;
    margin: 5em auto;
  }

  .mapboxgl-control-container {
    position: absolute;
    top: 80px;
    right: 80px;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Arial, sans-serif;
  }
  
  .toggle-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: Calibri, Arial, sans-serif;
    border-bottom: 3px dashed #181818;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .layer-toggle {
    margin-right: 5px;
  }
  
  .layer-toggle + label {
    margin-bottom: 0;
  }

.mapboxgl-ctrl-group {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  top: 100px;
  right: -70px;
  z-index: 1;
}
.zoom-controls button {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #404040;
  height: 24px;
  padding: 0;
  width: 30px;
}
.zoom-controls button:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.text-line {
  font-size: 12px; /* Adjust the font size as needed */
  color: #555; /* Adjust the text color as needed */
  margin-top: 8px; /* Add spacing between the checkboxes/labels and the additional text */
  max-width: 300px; /* Adjust the maximum width as needed */
  word-wrap: break-word; /* Enable word wrapping */
}

   