/*********************************************************************
 Loading import to ensure all browsers have base style
*********************************************************************/
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}

#map {
  flex: 1 0 auto;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  margin: 8px auto;
}
