*.ipynb_checkpoints
config.ipynb
Chicago_broker_rankings_08_2022/chicago_broker_rankings_august_2022.ipynb
Chicago_broker_rankings_08_2022/chicago_broker_rankings_august_2022.ipynb
Chicago_broker_rankings_08_2022/index.html
Chicago_broker_rankings_08_2022/Zip code and Month Sale Count export.ipynb
Chicago_broker_rankings_08_2022/chicago_broker_rankings_august_2022.ipynb
Chicago_broker_rankings_08_2022/index.html
Chicago_broker_rankings_08_2022/Zip code and Month Sale Count export.ipynb
NYC_crime_map/NYPD_Complaint_Data_Current__Year_To_Date_.csv
SoFla_property_analyzer
SoFla_agricultural_maps/Property_Boundary_View.csv
SoFla_agricultural_maps/Property_Boundary_View.geojson
SoFla_agricultural_maps/Property_Information_Table.csv
SoFlaGeneralContractorData/MD_County_Building_Permit.geojson
SoFlaGeneralContractorData/Miami_Building_Permits_Since_2014.geojson
SoFlaGeneralContractorData/SoFlaGeneralContractorData.ipynb
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.cpg
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.dbf
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.prj
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.sbn
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.sbx
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.shp
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.shp.xml
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.shx
SoFla_agricultural_maps/NAL16F202201.dbf
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.cpg
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.dbf
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.prj
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.sbn
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.sbx
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.shp
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.shp.xml
SoFla_agricultural_maps/NAL23F202201.dbf
SoFla_agricultural_maps/NAL23F202201.zip
SoFla_agricultural_maps/NAL60F202201.dbf
SoFla_agricultural_maps/NAL60F202201.zip
SoFla_agricultural_maps/old_stuff/Property_Information_Table.csv
SoFla_agricultural_maps/old_stuff/Property_Boundary_View.geojson
SoFla_agricultural_maps/old_stuff/PB_agri.geojson
SoFla_agricultural_maps/output.geojson
SoFla_agricultural_maps/palmbeach_2022pin.zip
SoFla_agricultural_maps/palmbeach_2022pin/palmbeach_2022pin.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.xml
*.shx
SoFla_agricultural_maps/PB_agri.geojson
SoFla_agricultural_maps/PB_agri.geojson
Dallas_vacant_land/tl_2022_us_zcta520.zip
SoFla_property_analyzer/old_stuff/Property_Boundary_View.geojson
SoFla_property_analyzer/old_stuff/Property_Information_Table.csv
WellingtonPropertyAnalysis/palmbeach_2022pin/palmbeach_2022pin.cpg
WellingtonPropertyAnalysis/Parcels_and_Property_Details_WebMercator.csv
WellingtonPropertyAnalysis/User's Guide.pdf
SF_Evictions2023/Eviction_Notices.csv
CookCountyAssessorHitList/Board_of_Review_Appeal_Decision_History.csv
*.csv
MiamiUS1__11_7_23/MiamiUS1.ipynb
MiamiUS1__11_7_23/MiamiUS1.ipynb
MiamiUS1__11_7_23/MiamiUS1.ipynb
