*.ipynb_checkpoints
*.DS_Store
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.xml
*.shx
*.csv
*.zip
node_modules
!real_estate_nyc.csv
!miamidade_taxable_values/taxable_values_for_graphic.csv
!manhattan_office_barchart_race/JLL_data.csv
!trddata-resource-directory/trd-data-research-directory-for-webpage - ComboSheet.csv
!trddata-testground/TRD Data Snapshots - Snapshot2_0.csv
!trddata-snapshots/TRD Data Snapshots - Snapshot2_0.csv
!SoFlaForeclosureMap_06_06_24/SoFlaForeclosureMap.csv
!brickell_sites_market_06_18_24/Brickell Sites Hitting the Market  - Sheet1.csv
!data.csv
config.ipynb
Chicago_broker_rankings_08_2022/chicago_broker_rankings_august_2022.ipynb
Chicago_broker_rankings_08_2022/chicago_broker_rankings_august_2022.ipynb
Chicago_broker_rankings_08_2022/index.html
Chicago_broker_rankings_08_2022/Zip code and Month Sale Count export.ipynb
Chicago_broker_rankings_08_2022/chicago_broker_rankings_august_2022.ipynb
Chicago_broker_rankings_08_2022/index.html
Chicago_broker_rankings_08_2022/Zip code and Month Sale Count export.ipynb
NYC_crime_map/NYPD_Complaint_Data_Current__Year_To_Date_.csv
SoFla_property_analyzer
SoFla_agricultural_maps/Property_Boundary_View.csv
SoFla_agricultural_maps/Property_Boundary_View.geojson
SoFla_agricultural_maps/Property_Information_Table.csv
SoFlaGeneralContractorData/MD_County_Building_Permit.geojson
SoFlaGeneralContractorData/Miami_Building_Permits_Since_2014.geojson
SoFlaGeneralContractorData/SoFlaGeneralContractorData.ipynb
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.cpg
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.dbf
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.prj
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.sbn
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.sbx
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.shp
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.shp.xml
SoFla_agricultural_maps/broward_2022pin/broward_2022pin.shx
SoFla_agricultural_maps/NAL16F202201.dbf
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.cpg
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.dbf
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.prj
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.sbn
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.sbx
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.shp
SoFla_agricultural_maps/miamidade_2022pin/miamidade_2022pin.shp.xml
SoFla_agricultural_maps/NAL23F202201.dbf
SoFla_agricultural_maps/NAL23F202201.zip
SoFla_agricultural_maps/NAL60F202201.dbf
SoFla_agricultural_maps/NAL60F202201.zip
SoFla_agricultural_maps/old_stuff/Property_Information_Table.csv
SoFla_agricultural_maps/old_stuff/Property_Boundary_View.geojson
SoFla_agricultural_maps/old_stuff/PB_agri.geojson
SoFla_agricultural_maps/output.geojson
SoFla_agricultural_maps/palmbeach_2022pin.zip
SoFla_agricultural_maps/palmbeach_2022pin/palmbeach_2022pin.cpg
SoFla_agricultural_maps/PB_agri.geojson
SoFla_agricultural_maps/PB_agri.geojson
Dallas_vacant_land/tl_2022_us_zcta520.zip
SoFla_property_analyzer/old_stuff/Property_Boundary_View.geojson
SoFla_property_analyzer/old_stuff/Property_Information_Table.csv
WellingtonPropertyAnalysis/palmbeach_2022pin/palmbeach_2022pin.cpg
WellingtonPropertyAnalysis/Parcels_and_Property_Details_WebMercator.csv
WellingtonPropertyAnalysis/User's Guide.pdf
SF_Evictions2023/Eviction_Notices.csv
CookCountyAssessorHitList/Board_of_Review_Appeal_Decision_History.csv
MiamiUS1__11_7_23/MiamiUS1.ipynb
MiamiUS1__11_7_23/MiamiUS1.ipynb
MiamiUS1__11_7_23/MiamiUS1.ipynb
lis_pendens_scraper_december_2023/lis_pendens/*
lis_pendens_scraper_mar_apr/text.csv
NAR_Lobby_Campaign_Disclosures/output.xlsx
NAR_Lobby_Campaign_Disclosures/NAR_Florida_Lobby_Donation_Data.ipynb
NAR_Lobby_Campaign_Disclosures/NAR_Florida_Campaign_Donations_12_19_23.txt
NAR_Lobby_Campaign_Disclosures/Expend_Florida_Realtor_12_18_23.txt
Miami-Dade_Property_Appraiser/public+sales+extract+allyears.zip
condo_sales_week_ending_041524/CondoSales040824.ipynb
condo_sales_week_ending_041524/index.html
condo_sales_week_ending_041524/CondoSales040824.ipynb
condo_sales_week_ending_041524/CondoSales040824.ipynb
condo_sales_week_ending_08192024/CondoSales08192024.ipynb
condo_sales_week_ending_08192024/CondoSales08192024.ipynb
CookCountyNeighborhoods/Untitled.ipynb
CookCountyNeighborhoods/OLD____ChicagoTownshipMap.ipynb
CookCountyNeighborhoods/map_folder/index.html
CookCountyNeighborhoods/index.html
CookCountyNeighborhoods/ChicagoTownshipMap.ipynb
/CookCountyNeighborhoods
data/*
CookCountyNeighborhoods_FiniteMap_10_30_24/brokerage_community_data.geojson
*.xlsx
ChicagoSouthSideBrokersRanking_12_21_24/ConnectMLS_export1730472553370186441.XLS
DOGE_Velocity_Tracker/autoscraper-380600-0d0c84856d6b.json
BeigeBook/autoscraper-380600-0d0c84856d6b.json
BeigeBook/.env
PalmBeach_County_condo_sales_week_ending_05192025/index.html
PalmBeach_County_condo_sales_week_ending_05192025/index.html
PalmBeach_County_condo_sales_week_ending_05192025/CondoSales05192024.ipynb
Broward_County_condo_sales_week_ending_05192025/CondoSales05122025.ipynb
Broward_County_condo_sales_week_ending_05192025/index.html
news_feed/TRDataNewsAPIaggregator.ipynb
TRD_Parsely_Dataviz/Untitled.ipynb
.vscode/settings.json
TRD_Parsely_Dataviz_timeseries/Untitled.ipynb
TRD_Parsely_Dataviz_timeseries/Untitled.ipynb
SoFlaLiveLocalAutoUpdateMap/autoscraper-380600-0d0c84856d6b.json
midtown_south_rezoning_08_28_25/midtown_south_rezoning.ipynb
!MidtownSouthRezoningEvergreen - zoning_list_with_owners.csv
midtown_south_rezoning_08_28_25/autoscraper-380600-0d0c84856d6b.json
!midtown_south_rezoning_08_28_25/midtown_south_rezoning.ipynb
!nyc_relationship_map_09_10_25/connections.csv
!nyc_relationship_map_09_10_25/people.csv
!south_florida_snapshots/agg_df_cards.csv
SoFlaDataForSnapshotsFromAssessor/FL_Records_Assessor/deal_groups_report.txt
SoFlaDataForSnapshotsFromAssessor/FL_Records_Assessor/fl_market_rows.json
SoFlaDataForSnapshotsFromAssessor/FL_Records_Assessor/DataCleaner.ipynb
SoFlaDataForSnapshotsFromAssessor/FL_Records_Assessor/DataCleaner.ipynb
/SoFlaDataForSnapshotsFromAssessor
/SoFlaDataForSnapshotsFromAssessor/FL_Records_Assessor
/SoFlaDataForSnapshotsFromAssessor
SoFlaDataForSnapshotsFromAssessor/FL_Records_Assessor/DataCleaner.ipynb
SoFlaDataForSnapshotsFromAssessor/FL_Records_Assessor/DataCleaner.ipynb
SoFlaDataForSnapshotsFromAssessorResi/.vscode/settings.json
SoFlaDataForSnapshotsFromAssessorComm/.vscode/settings.json
SoFlaDataForSnapshotsFromAssessorComm/FL_Records_Assessor/fl_market.json
SoFlaDataForSnapshotsFromAssessorComm/FL_Records_Assessor/fl_market_rows.json
SoFlaDataForSnapshotsFromAssessorResi/FL_Records_Assessor/fl_market.json
SoFlaDataForSnapshotsFromAssessorResi/FL_Records_Assessor/fl_market_rows.json
SoFlaDataForSnapshotsFromAssessorResi/FL_Records_Assessor/deal_groups_report.txt
SoFlaDataForSnapshotsFromAssessorComm/FL_Records_Assessor/deal_groups_report.txt
SoFlaDataForSnapshotsFromAssessorComm/FL_Records_Assessor/DataCleaner.ipynb
SoFlaDataForSnapshotsFromAssessorResi/FL_Records_Assessor/DataCleaner.ipynb
SoFlaDataForSnapshotsFromAssessorComm/Snapshots.ipynb
SoFlaDataForSnapshotsFromAssessorResi/Snapshots.ipynb
SouthFloridaSIRS/SoFlaSIRS.ipynb
!SouthFloridaSIRStable/SIRS.csv
!SouthFloridaSIRS/data.csv
!SoFlaTransactionMap/miami_dade_output.geojson
miami_map_11_04_25/miamimap.ipynb
south_side_foreclosures_12_2_2025/IsraelBialostozky.ipynb
LA_wildfire_permit_01_08_26/LA_wildfire_permit_01_08_26.ipynb
