
<style>
iframe {
    overflow: hidden;
}

@media only screen and (max-width: 1050px) {
  #desktop2 {
    display: none;
  }
  #mobile2 {
    display: block;
  }
}

@media only screen and (min-width: 1050px) {
  #desktop2 {
    display: block;
  }
  #mobile2 {
    display: none;
  }
}
</style>
