/* ==========================================================================
   General selectors
   ========================================================================== */

:root {
	--bs-font-sans-serif: "Proxima Nova", system-ui, -apple-system,
		"Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
		Arial, sans-serif;
}
body {
	line-height: 1.5;
	font-family: var(--bs-font-sans-serif);
}
html,
body,
main {
	height: 100%;
}
ul {
	cursor: pointer;
}
ul li {
	pointer-events: none;
}

/* ==========================================================================
   Own selectors
   ========================================================================== */

/* [1] Positive/negative indicator. */
.positive {
	color: #20a454;
}
.negative {
	color: #eb4959;
}
@media (prefers-color-scheme: dark) {
	.positive {
		color: #33b065;
	}
	.negative {
		color: #e34050;
	}
}

/* ==========================================================================
   Card
   ========================================================================== */

.card {
	height: 100%;
}

/* [1] Card > Card header. */
.card .card-header {
	border-bottom-color: #e0e0e0;
	padding: 16px 10px 10px 10px;
	background-color: var(--bs-body-bg);
}
.card .card-header .logo {
	margin-bottom: 5px;
}
.card .card-header a.badge {
	text-decoration: none;
	color: #4285f4;
}
.card .card-header span.badge {
	color: #000;
	cursor: pointer;
}
.card .card-header .badge {
	padding: 0 7px;
}
.card .card-header .badge i {
	font-size: 14px;
}
.card .card-header h1 {
	margin-bottom: 0;
	font-family: "Merriweather", serif;
	font-weight: 900;
	font-size: 16px;
}
.card .card-header h1 a {
	text-decoration: none;
	color: #393939;
}
@media (prefers-color-scheme: dark) {
	.card .card-header {
		border-bottom-color: #424549;
	}
	.card .card-header .logo path:first-child {
		fill: #fff;
	}
	.card .card-header a.badge {
		color: #6ea8fe;
	}
	.card .card-header span.badge {
		color: #dee2e6;
	}
	.card .card-header h1 a {
		color: #dee2e6;
	}
}

/* [2] Card > List group <ul> tag. */
.card .list-group {
	overflow-y: auto;
}
.card .list-group li {
	border-color: #e0e0e0;
	padding: 1px 10px;
}
.card .list-group .list-group-item-name {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #2e2e2e;
}
.card .list-group .list-group-item-data {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
}
.card .list-group .list-group-item-data .rate {
	padding-top: 5px;
	line-height: 1;
	font-size: 14px;
	color: #2e2e2e;
}
.card .list-group .list-group-item-data .rate-yoy {
	padding-top: 5px;
	padding-bottom: 4px;
	line-height: 1;
	font-size: 10px;
	color: #2e2e2e;
}
.card .list-group .list-group-item-data .rate-yoy .unit {
	margin-left: 2px;
}
@media (prefers-color-scheme: dark) {
	.card .list-group li {
		border-color: #424549;;
	}
	.card .list-group .list-group-item-name,
	.card .list-group .list-group-item-data .rate,
	.card .list-group .list-group-item-data .rate-yoy {
		color: #dee2e6;
	}
}
