@font-face {
  font-family: "Proxima Nova";
  src: url("https://static.therealdeal.com/fonts/ProximaNova/ProximaNova-Extrabld.woff2")
      format("woff2"),
    url("https://static.therealdeal.com/fonts/ProximaNova/ProximaNova-Extrabld.woff")
      format("woff"),
    url("https://static.therealdeal.com/fonts/ProximaNova/ProximaNova-Extrabld.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://static.therealdeal.com/fonts/ProximaNova/ProximaNova-Semibold.woff2")
      format("woff2"),
    url("https://static.therealdeal.com/fonts/ProximaNova/ProximaNova-Semibold.woff")
      format("woff"),
    url("https://static.therealdeal.com/fonts/ProximaNova/ProximaNova-Semibold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("https://static.therealdeal.com/fonts/ProximaNova/ProximaNova-Regular.woff2")
      format("woff2"),
    url("https://static.therealdeal.com/fonts/ProximaNova/ProximaNova-Regular.woff")
      format("woff"),
    url("https://static.therealdeal.com/fonts/ProximaNova/ProximaNova-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --bs-font-sans-serif: "Proxima Nova", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
  --bs-link-color-rgb: 0, 0, 0;
}
[data-bs-theme="dark"] {
  --bs-body-bg: #212121;
}
body {
  font-family: var(--bs-font-sans-serif);
  line-height: 1.5;
}
html,
body,
main,
.card {
  height: 100%;
}
.list-group {
  overflow-y: auto;
}
@media (prefers-color-scheme: dark) {
  .logo path:first-child {
    fill: #fff;
  }
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 0;
}

h1 a {
  color: var(--bs-color);
  text-decoration: none;
}
.badge {
  cursor: pointer;
  --bs-badge-color: var(--bs-color);
}
a.badge {
  text-decoration: none;
  --bs-badge-color: var(--bs-link-color);
}
.price {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 1rem;
}
.date {
  font-size: 0.75rem;
}
ul {
  cursor: pointer;
}
.label {
  font-size: 12px;
}
.title {
  font-size: 18px;
  font-weight: bold;
}
